body {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.tablaEst,
.tablaSorteo {
    /* width: 80%; */
    /* float: left; */
}

.tablaEst {
    margin-top: 20px;
}

.tablaSorteo {
    margin-top: 50px;
}

thead {
    background: #CC2329;
}